{% extends 'layouts/base.html' %}

<!--  block pagename-->

{% block pagename %} Principiante {% endblock pagename%}

<!--  block content-->

{%block content %}
<h1>Index</h1>
<figure>
  <blockquote class="blockquote">
    <p class="mb-0">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
      ullam. Minima, sed neque! Libero veniam expedita delectus asperiores
      soluta in quisquam fugit accusamus a. Unde itaque quia mollitia libero
      sit?
    </p>
  </blockquote>
</figure>
{% endblock content %}
